PORT=8000

POSTGRES_USER=danish
POSTGRES_PASSWORD=root
POSTGRES_DB=vonc

# When using docker in production machine, comment this var, docker compose will create this by itself
DATABASE_URL="postgresql://username:password@localhost:5432/vonc?schema=public"

CORS_ORIGINS=http://localhost:3000
BASE_DOMAIN=http://localhost:3000

JWT_SECRET=somesecretkey
JWT_EXPIRY=7d

# Clerk
CLERK_SECRET_KEY=
CLERK_PUBLISHABLE_KEY=
CLERK_WEBHOOK_SECRET=

GOOGLE_API_KEY=

EMAIL=voncaidev@gmail.com
EMAIL_PASSWORD=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URL=http://localhost:8000/api/v1/auth/google-auth-redirect
GOOGLE_REDIRECT_URL_CLIENT_REACT=http://localhost:3000/dashboard

ENCRYPTION_KEY=test-key

REDIS_HOST=redis
REDIS_PORT=6379

RESET_DATABASE=false

ADMINER_PORT=8080

CLERK_WEBHOOK_SECRET=
CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=